// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// $primary   = #027be3
$rl=#f7335e
$bl=#29d5fd
$pl=#4842fb

$bg-rl0=linear-gradient(0deg,#e87568,#f7335e)
$bg-rl-45=linear-gradient(-45deg,#e87568,#f7335e) 
$bg-bl0=linear-gradient(0deg,#457dfe,#29d5fd)
$bg-bl-45=linear-gradient(-45deg,#457dfe,#29d5fd)
$bg-pl0=linear-gradient(0deg,#8b34fd,#4842fb)
$bg-pl-45=linear-gradient(-45deg,#8b34fd,#4842fb) 
regular(){
  font-weight: 100;
}
medium(){
  font-weight: 400;
}
bold(){
  font-weight: 700;
}
heavy(){
  font-weight: 900;
}


$item-font-size=.14rem
$tabs-font-size =.07rem
$input-font-size =.14rem
$font-color=white
$section-bg=rgba(255,255,255,.05)
$section-padding= 10vh
$modal-header-font-size=.16rem

//$primary =#101417
$primary=rgb(16,43,67)

$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037


